name: Build proj.js

on:
  workflow_call:
    inputs:
      platform:
        type: string
        required: true
      native:
        type: boolean
        required: true
        description: build the native module
      standalone:
        type: boolean
        default: false
        description: standalone native build
      wasm:
        type: boolean
        required: true
        description: build the WASM module
      asan:
        type: boolean
        default: false
        description: build the ASAN version
      codecov:
        type: boolean
        default: false
        description: build the codecov version
      id:
        type: string
        required: true
        description: artifact id
      inline_projdb:
        type: boolean
        default: true
        description: inline proj.db for WASM
      enable_tiff:
        type: boolean
        default: true
        description: include TIFF support
      conan_cache:
        type: boolean
        default: true
        description: cache conan artifacts
      regen_swig:
        type: boolean
        default: false
        description: Regenerate the SWIG wrappers on the current platform


jobs:    
  build:
    runs-on: ${{ inputs.platform }}
    name: Build ${{ inputs.native && 'native ' || '' }}${{ inputs.wasm && 'wasm ' || '' }}${{ inputs.asan && 'ASAN ' || '' }}${{ inputs.codecov && 'codecov ' || '' }}on ${{ inputs.platform }}${{ inputs.enable_tiff && ' ' || ' w/o libtiff' }}${{ inputs.inline_projdb && ' ' || ' w/o proj.db' }}

    strategy:
      fail-fast: false

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup Node.js 20
      uses: actions/setup-node@v6
      with:
        node-version: 20

    - name: Setup emscripten (WASM)
      uses: mymindstorm/setup-emsdk@v14
      if: inputs.wasm
      with:
        version: 3.1.68

    - name: Install xpm
      run: |
        npm install @mmomtchev/xpm
        npx xpm install

    - name: Download the SWIG-generated wrappers
      if: ${{ !inputs.regen_swig }}
      uses: actions/download-artifact@v7
      with:
        name: swig-generated
        path: swig
    - name: Regenerate the SWIG wrappers on the current platform
      if: inputs.regen_swig
      run: npx xpm run generate

    - name: Get conan home
      shell: bash
      id: conan_home
      run: |
        npx xpm run -q conan -- version
        echo path=`npx xpm run -q conan -- config home` >> $GITHUB_OUTPUT
    - name: Cache conan artifacts
      uses: actions/cache@v4
      if: inputs.conan_cache
      with:
        path: ${{ steps.conan_home.outputs.path }}
        key: conan-${{ inputs.id }}

    - name: Build the native version
      shell: bash
      run: |
        npm install --proj_js_skip_wasm --proj_js_build-from-source                             \
          --verbose --foreground-scripts                                                        \
          ${{ inputs.standalone && '--enable-standalone-build' }}                               \
          ${{ inputs.enable_tiff && '--enable-tiff' || '--disable-tiff' }}                      \
          ${{ inputs.inline_projdb && '--enable-inline-projdb' || '--disable-inline-projdb' }}
      if: inputs.native

    - name: Build the WASM version
      shell: bash
      run: |
        npm install --proj_js_skip_native --proj_js_build-wasm-from-source                      \
          --verbose --foreground-scripts                                                        \
          ${{ inputs.enable_tiff && '--enable-tiff' || '--disable-tiff' }}                      \
          ${{ inputs.inline_projdb && '--enable-inline-projdb' || '--disable-inline-projdb' }}
      if: inputs.wasm

    - name: Set the npm build options for a custom build
      shell: bash
      if: inputs.asan || inputs.codecov
      run: |
        echo "${{ inputs.inline_projdb && 'npm_config_enable_inline_projdb' || 'npm_config_disable_inline_projdb' }}=true" >> $GITHUB_ENV
        echo "${{ inputs.enable_tiff && 'npm_config_enable_tiff' || 'npm_config_disable_tiff' }}=true" >> $GITHUB_ENV

    - name: Build the native ASAN version
      if: inputs.asan
      run: |
        npx xpm run prepare --config native-debug
        npx xpm run configure --config native-debug -- -Db_sanitize=address
        npx xpm run build --config native-debug

    - name: Build the native codecov version
      if: inputs.codecov
      run: |
        npm run configure:native
        npx xpm run configure --config native -- -Db_coverage=true
        npx xpm run build --config native

    - name: Check WASM module size
      run: |
        echo "::notice::WASM version / C++ API is $(( `cat lib/binding/emscripten-wasm32/proj.wasm | wc -c` / 1024 )) KBytes raw, $(( `gzip -9c lib/binding/emscripten-wasm32/proj.wasm | wc -c` / 1024 )) KBytes gzipped, $(( `brotli -9c lib/binding/emscripten-wasm32/proj.wasm | wc -c` / 1024 )) KBytes brotlied"
        echo "::notice::WASM version / C API is $(( `cat lib/binding/emscripten-wasm32/proj_capi.wasm | wc -c` / 1024 )) KBytes raw, $(( `gzip -9c lib/binding/emscripten-wasm32/proj_capi.wasm | wc -c` / 1024 )) KBytes gzipped, $(( `brotli -9c lib/binding/emscripten-wasm32/proj_capi.wasm | wc -c` / 1024 )) KBytes brotlied"
      if: inputs.wasm
    - name: Locate addon file
      shell: bash
      id: addon
      run: node -p '"addon=" + path.resolve(__dirname, "lib", "binding", `${os.platform()}-${os.arch()}`, "proj.node")' >> $GITHUB_OUTPUT
      if: inputs.native
    - name: Check native module size
      run: |
        node -p '"::notice::native version / C++ API is " + (fs.statSync(path.resolve(__dirname, "lib", "binding", `${os.platform()}-${os.arch()}`, "proj.node")).size / 1024).toFixed(0) + " KBytes${{ inputs.enable_tiff && ' ' || ' w/o libtiff' }}${{ inputs.inline_projdb && ' ' || ' w/o proj.db' }}"'
        node -p '"::notice::native version / C API is " + (fs.statSync(path.resolve(__dirname, "lib", "binding", `${os.platform()}-${os.arch()}`, "proj_capi.node")).size / 1024).toFixed(0) + " KBytes${{ inputs.enable_tiff && ' ' || ' w/o libtiff' }}${{ inputs.inline_projdb && ' ' || ' w/o proj.db' }}"'
      if: inputs.native
    - name: List linked libraries (Linux)
      run: ldd ${{ steps.addon.outputs.addon }}
      if: runner.os == 'Linux' && inputs.native
    - name: List linked libraries (macOS)
      run: otool -L ${{ steps.addon.outputs.addon }}
      if: runner.os == 'macOS' && inputs.native

    - name: Upload artifact ${{ inputs.id }}
      uses: actions/upload-artifact@v6
      with:
        name: ${{ inputs.id }}
        path: lib/binding/*

    - name: Upload build directory ${{ inputs.id }}
      if: inputs.codecov
      uses: actions/upload-artifact@v6
      with:
        name: build-${{ inputs.id }}
        path: build/native/*
