name: Generate the SWIG wrappers

on:
  workflow_call:

jobs:
  swig:
    runs-on: ubuntu-latest
    name: Generate the SWIG wrappers

    strategy:
      fail-fast: false

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install xpm
      run: |
        npm install @mmomtchev xpm
        npx xpm install

    - name: Run SWIG to generate the wrappers
      run: npx xpm run generate

    - name: Upload SWIG-generated wrappers
      uses: actions/upload-artifact@v4
      with:
        name: swig-generated
        path: |
          swig/*
