name: Test npm package

on:
  workflow_call:
    inputs:
      package:
        type: string
        default: proj.js@latest
        description: package tarball or npm name to install
      download:
        type: boolean
        default: false
        description: whether the package artifact needs to be downloaded
  workflow_dispatch:
    inputs:
      package:
        type: string
        default: proj.js@latest
        description: package tarball or npm name to install


jobs:
  test_npm_binaries:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-24.04
          - windows-2019
          - windows-2022
          - macos-15
          - macos-15-intel
        node-version: [18.x, 20.x, 22.x, 24.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Download the package
        uses: robinraju/release-downloader@v1.12
        with:
          tag: ${{ github.ref_name }}
          fileName: ${{ inputs.package }}
        if: inputs.download
      - name: Install proj.js from ${{ inputs.package }}
        run: npm install ${{ inputs.package }} --foreground-scripts --verbose
        shell: bash
      - name: Set up the unit tests
        shell: bash
        run: |
          cp -R node_modules/proj.js/test .
          cd test && npm install
      - name: Run the Node.js unit tests
        run: npm run test:nodejs
        working-directory: ${{ github.workspace }}/test
        env:
          PROJ_DB_PATH: ${{ github.workspace }}/node_modules/proj.js/lib/binding/proj/proj.db

      - name: Run the browser tests (macOS / Windows)
        if: runner.os != 'Linux'
        run: npm run test:browser
        working-directory: ${{ github.workspace }}/test
      - name: Run the browser tests (Linux)
        if: runner.os == 'Linux'
        run: xvfb-run npm run test:browser
        working-directory: ${{ github.workspace }}/test


  test_npm_rebuild:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-24.04
          - windows-2019
          - windows-2022
          - macos-15
          - macos-15-intel
        node-version: [18.x, 20.x, 22.x, 24.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup emscripten (WASM)
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.23
      - name: Download the package
        uses: robinraju/release-downloader@v1.12
        with:
          tag: ${{ github.ref_name }}
          fileName: ${{ inputs.package }}
        if: inputs.download
      - name: Install proj.js from ${{ inputs.package }}
        run: |
          npm install ${{ inputs.package }}               \
            --foreground-scripts --verbose                \
            --build-from-source                           \
            ${{ runner.os == 'Linux' && '--build-wasm-from-source' || '' }}
        shell: bash
      - name: Set up the unit tests
        shell: bash
        run: |
          cp -R node_modules/proj.js/test .
          cd test && npm install
      - name: Run the Node.js unit tests
        run: npm run test:nodejs
        working-directory: ${{ github.workspace }}/test
        env:
          PROJ_DB_PATH: ${{ github.workspace }}/node_modules/proj.js/lib/binding/proj/proj.db

      - name: Run the browser tests (macOS / Windows)
        if: runner.os != 'Linux'
        run: npm run test:browser
        working-directory: ${{ github.workspace }}/test
      - name: Run the browser tests (Linux)
        if: runner.os == 'Linux'
        run: xvfb-run npm run test:browser
        working-directory: ${{ github.workspace }}/test
